@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rock+Salt&family=Rubik+Vinyl&display=swap');

        
        nav, footer {
            text-align: center;
            background-color: #Ff8b33;
        }
        
        a {
            font-size: 1em;
            color: white;
            margin: 40px;
            line-height: 1em;
        }
        

       h1 {
        text-align: center;
        color: steelblue;
       } 

       h2 {
        text-align: center;
        color: #FF8b33;
        margin: 0;
       } 

    
        img {
            width: 40%;
            display: block;
            margin: 0 auto;
            border: 4px solid steelblue;
        }
    
        p {
            text-align: center;
            padding: 10px;
        }
        
        #active {
            background-color: white;
            color: steelblue;
        }
    
       a:hover {
        background-color: white;
        color: steelblue;
       }

       #content {
        max-width: 1600px;
        margin: 0 auto;
       }


       nav, a {
        text-align: center;
        color: #ffffff;
        text-decoration: none;
       }

       header nav {
        font-size: 20px;
       }

       #hero {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        margin-top: -100px; 
    }

       #hero-box {
        grid-column: 1/4;
        grid-row: 1/3;
        z-index: -1;
       }

       #hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
          
       

       #hero-msg h1, #hero-msg h4 {
        text-align: center;
        font-size: 40px;
       }

       #hero-msg h4 {
        color: white;
       }

       .button-box {
        text-align: center;
       }

       .main section {
        text-align: center;
       }

       .main section img {
        text-align: center;
        box-sizing: border-box;
       }

       #background {
        height: 725px;
        background-color: #004aad;
       }

       body {
        background-color: #FFFFFF;
        margin: 0;
        padding: 0;
       }

       header {
        background-color: #004aad;
        display: grid;
        grid-template-columns: 150px, auto;
       }

       nav {
        display: flex;
        justify-content: space-around;
       }

       nav a:hover {
        background-color: #Ff8b33;
        color: #ffffff;
       }

       .card-img, mountains {
        border: 10px solid black;
        width: 100%;
       }

       .rivers-card {
        margin: 200px 0;
       }

       .camping-card {
        margin: 200px 0;
       }

       .rapids-card {
        margin: 200px 0;
       }

    .book {
        background-color: #ff5c33;
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px; 

    }

    .join {
        background-color: #ff5c33;
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px; 
    }


    .book:hover, .join:hover {
        background-color: #FF8b33;
        color: #FFFFFf;
    } 

    
    .msg {
        background-color: #004aad;
        color: #ffffff;
        line-height: 1.5em;
        padding: 35px;
        text-align: center;
        }

    .msg p {
          background-color: #004aad;
            color: #ffffff;     
            font-size: .8em;
            padding-bottom: 15px;   
            }

    .msg h2 {
        font-size: 50px;
    }
            
    .icon {
        width: 80px;
        padding-top: 10px;
    }

    .logo {
        width: 50px;
    }

    .logo header  {
        max-width: 150px;
    }

    #logo-link {
        padding-top: 5px;
        justify-self: center;
        align-self: center;
}
   
    #hero-img {
        width: 100%;
    }

    .home-title {
        font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
        font-size: 400em;
        margin-top: 10px;
    }
                

    footer {
    background-color: #004aad;
    color: #ffffff;
    padding: 25px 50px;
    margin-top: 200px;
    }

    footer .social img {
       max-width: 80px;
       text-align: center;
       display: block;
       margin: 0 auto;
       padding-top: 15px;
       border: 0;
    }


    footer a {
        background-color: #004aad;
        color: #ffffff;
        text-decoration: none;
    }

    footer a:hover {
        background-color: #004aad ;
        color: #ffffff;
    }

    footer p {
        font-size: 1.2em;
    }

    footer p a:hover {
        text-decoration: underline;
    }