/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rock+Salt&family=Rubik+Vinyl&display=swap');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #FFFFFF;
  --secondary-color: #141400;
  --accent1-color: #84CBEA;
  --accent2-color: #BA8CA4;

  /* change the values below to your chosen font(s) */
  --heading-font: "Rock Salt";
  --paragraph-font: Montserrat, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #BA8CA4;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #396E94;
  --nav-background-color: #000000;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}


body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
  }
  
#headline {
    text-align: left;
    margin-left: 50px; 
  }

#texts {
  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-items: center;
  grid-gap: 60px;
  margin-top: 0px;
}

.textsquestions {
  display: grid;
  grid-template-columns: 4fr 2fr;
  justify-items: right;
  grid-gap: 0px;
  margin-top: 0px;
}

.textsquestions img {
  min-width: 400px;
  max-width: 500px;
  margin-right: 60px;
}
 
.logo4 {

  min-width: 765px;
  max-width: 865px;
  max-height: 1000px;
  }



.grid2 {

  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-items: center;
  grid-gap: 60px;
  margin-top: 20px;

}

.theseare {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 00px;
  margin-top: 20px;

}

.theseare p:first-of-type {
 text-align: left;
}

.theseare p:last-of-type {
text-align: right;
}
 
.logo3 {

  min-width: 765px;
  max-width: 865px;
  max-height: 1000px;
  }

.logoquestion {

    min-width: 765px;
    max-width: 865px;
    max-height: 1000px;
    }
  
.textsnav {
      max-width: 10px;
    }

    .textnav{
      max-width: 10px;
    }

.textsnav2 {
  margin-right: -50px;
}

.grid2 {
  max-width: 10px;
  margin-right: -50px;
}


img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

 
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}

header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  padding: 1px 1px;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  min-width: 120px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 1px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}



.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

.logo {
  max-height: 100px;
  margin-top: 0px;
  padding-bottom: 10px;
}


.logo2 {
  min-width: 1165px;
  max-width: 1165px;
  max-height: 1000px;
  }
  

footer .logo {
  max-height: 70px;
  min-height: 60px;
  margin-bottom: 0px;
  margin-top: -10px;
}


header {
  background-color: #000000;
  display: grid;
  grid-template-columns: 200px auto;
  height: 70px;
 }

 .contactnav {
  min-height: 110px;
 }

 .logocontact {
  max-height: 100px;
 }

 .researchtext {
  max-width: 1150px;
  text-align: center;
  font-size: 4px;
  
 }


 .researchtext h1{
  max-width: 1150px;
  text-align: center;
  font-size: 4px;
  
 }


 .researchtextpar {
  max-width: 900px;
 }

.hero img {
  min-width: 465px;
  max-width: 565px;
  max-height: 4000px;

}

.hero2 img {
  min-width: 1165px;
  max-width: 1165px;
  max-height: 1000px;
  }
  
  .hero {
    max-width: 100%;
  
  }


  .hero2 {
    min-width: 1165px;
    max-width: 1165px;
    max-height: 1000px;
    }
    

.sideherob img {
  max-width: 25%;
}

.sideheroc img {
  max-width: 25%;
}



.side3group {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  justify-items: center;
  grid-gap: 60px;
  margin-top: 0px;

}

.side3group2 {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  justify-items: center;
  grid-gap: 60px;
  margin-top: 0px;

}
/*
#side3group2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: center;
  grid-gap: 60px;
  margin-top: 0px;
  margin-left: 75px;

}
*/
#sitetitle {
  margin: auto;
}

#sitetitle h1 {
  font-size: 5px;
  text-align: center;
}

#sitetitle h2 {
  font-size: 8px;
  text-align: center;
}



#side3group2 img {
  max-width: 20px;
}

#sidehero2 img {
max-width: 165px;
max-height: 100px;

}

#sidehero3 img {
  max-width: 235px;
  max-height: 555px;
  }

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 1px 1px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

  footer .social img {
     max-width: 20px;
   /*  text-align: center;*/
     display: block;
     margin: 0 auto;
     padding-top: 15px;
     padding-bottom: 15px;
     border: 0;
  }


  footer a {
      background-color: #004aad;
      color: #ffffff;
      text-decoration: none;
  }

  footer a:hover {
      background-color: #004aad ;
      color: #ffffff;
  }

  footer p {
      font-size: 15px;
      color: #ffffff;
  }

  footer p a:hover {
      text-decoration: underline;
  }

  footer .logo {
    max-width: 200px;
    margin: auto;
  }

  
  .sidenav {
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 100px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 23px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  .main h1 {
    font-size: 40px;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  @media screen and (max-width: 900px) {
      #hero, .home-grid {
          display: block;
          height: auto;
      }
      nav, footer {
          flex-direction: column;
      }
      nav a {
          display: block;
          padding: 15px;
      }
      #hero {
          margin-top: 0;
      }
      #hero-msg {
          margin-top: 0;
      }
      #hero-msg h4 {
          display: none;
      }
      .home-title {
          font-size: 7px;
          color: #6f7364;
      }
      .rivers-card, .camping-card, .rapids-card { 
          margin: 50px auto;
          width: 60%;
      }
      #background {
          display: none;
      }
      .mountains, .msg {
          width: 80%;
          display: block;
          margin: 0 auto;
      }
      footer {
          margin-top: 25px;
      }

      nav {
        display: flex;
        justify-content: space-around;
       }
      }
